{{extend 'layout.html'}}

<p>Type something and press the button.
   The last 10 entries will appear sorted in a table below.</p>

<form>
<INPUT type="text" id="kiek" name = "kiek" value="0"/>
<INPUT type="button" value="submit"
       onclick="ajax('{{=URL('data')}}',['kiek'],'target');"/>
<input type="button" id="kiek" name = "kiek" value="1" onclick="ajax('{{=URL('data?kiek=1')}}',['1'],'target');"/>
<input type="button" id="kiek" name = "kiek" value="2" onclick="ajax('{{=URL('data?kiek=2')}}',['2'],'target');"/>
<input type="button" id="kiek" name = "kiek" value="3" onclick="ajax('{{=URL('data?kiek=3')}}',['3'],'target');"/>
<input type="button" id="kiek" name = "kiek" value="4" onclick="ajax('{{=URL('data?kiek=4')}}',['4'],'target');"/>
<input type="button" id="kiek" name = "kiek" value="5" onclick="ajax('{{=URL('data?kiek=5')}}',['5'],'target');"/>
<input type="button" id="kiek" name = "kiek" value="6" onclick="ajax('{{=URL('data?kiek=6')}}',['6'],'target');"/>
<input type="button" id="kiek" name = "kiek" value="7" onclick="ajax('{{=URL('data?kiek=7')}}',['7'],'target');"/>
<input type="button" id="kiek" name = "kiek" value="8" onclick="ajax('{{=URL('data?kiek=8')}}',['8'],'target');"/>
<input type="button" id="kiek" name = "kiek" value="9" onclick="ajax('{{=URL('data?kiek=9')}}',['9'],'target');"/>
<input type="button" id="kiek" name = "kiek" value="10" onclick="ajax('{{=URL('data?kiek=10')}}',['10'],'target');"/>
</form>
<br/>
<div id="target"></div>